@import "@app/styles/_variables.scss";

label {
  font-family: Robo;
}

.vault-container {
  position: relative;
  height: 100%;
}

.body {
  display: flex;
  height: calc(100% - 56px - 64px);
  flex-direction: column;
  // overflow-y: auto;
  background-color: $bg_3;

  .claim-quests {
    height: calc(100% - 7rem);
    border-radius: 0;
    background-color: $bg_1;
    padding-bottom: 0;
    box-shadow: 0px 3px 3px $border_color_claim_quests_1 !important;
  }

  .quest-center-title {
    display: flex;
    height: 8rem;
    background: $bg_quest_title;
    align-items: center;
    justify-content: center;

    .quest-center-left-area {
      width: 60%;
      padding-left: 1.4rem;

      .title {
        color: $text_color_2;
        font-size: 24px;
        font-weight: 500;
      }

      .description {
        display: block;
        color: $text_color_2;
        margin-top: 0.5em;
        font-size: 12px;
        line-height: 1.5em;
      }
    }
    .quest-center-right-area {
      width: 40%;
      display: flex;
      justify-content: center;
      padding-right: 0.8rem;
  
      img {
        object-fit: contain;
      }
    }
  }
}

.quest-tabs {
  height: calc(100% - 8rem);
  grid-template-columns: repeat(auto-fill, minmax(40px, 100px));
  align-items: flex-start !important;
  position: relative;

  input[type='radio'] {
    height: 3rem;
  }

  .indicator {
    background-color: #FF4949;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: none;
  }

  .show {
    display: block;
  }

  .daily {
    top: 10px;
    left: 66px;
  }

  .achivement {
    top: 10px;
    left: 183px;
  }

  .invites {
    top: 10px;
    right: 104px;
  }

  .featuring {
    top: 10px;
    right: 4px;
  }

  :global {
    .tab.tab-active:not(.tab-disabled):not([disabled]), .tab:is(input:checked) {
    border-color: #1CB0F6!important;
    color:#1CB0F6;
    font-weight: 600;
   }
  }
}

:global {
  .btm-nav > *:where(.active) {
    border-top-width: 2px;
    --tw-bg-opacity: 1;
    border-color: #1CB0F6!important;
}
}

.bottom-nav {
  // padding-right: 40px;
  // background-color: $bg_1 !important;
  *:where(.active) {
    border-top-width: 2px;
    --tw-bg-opacity: 1;
    border-color: #1CB0F6!important;
    color: #1CB0F6;
    .bottom-nav-label{
      color: inherit;
    }
}

  *:where(.non-active) {
    border-top-width: 0;
    --tw-bg-opacity: 1;
    color: #999999;
    .bottom-nav-label{
      color: inherit;
    }
  }

}

.navbar {
  background-color: $bg_1 !important;
  box-shadow: 0px 2px 2px 0px #40404033;
  padding: 10px 16px !important;
  position: relative;

  .user-profile-area {
    display: flex;
    align-items: center;

    img {
      border-radius: 8px;
    }

    .username {
      padding-left: 8px;
      font-size: 14px;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 70px;
    }
  }

  .asset-area {
    display: flex;

    .gem-area {
      display: flex;
      
      label {
        padding-left: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #404040;
      }
    }
    .pszm-area {
      display: flex;
      padding-left: 16px;

      img {
        height: 20px;
      }

      label {
        padding-left: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #404040;
      }
    }
  }
}

.close-btn-area {
  position: absolute;
  right: -34px;
  top: 20px;
}

.close-btn {
  width: 30px;
  height: 30px;
  position: relative;
  // border-radius: 50%;
  background-color: #FFF;
  opacity: 0.8;
  transition: 0.3s ease-out;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #36658d;
    left: 50%;
    top: 50%;
  }
  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover,
  &:focus {
    transform: scale(1.15);
    opacity: 1;
  }
}

:global(#notification-popup) {
  :global(.modal-box) {
    background-color: $bg_1;

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 16px;
        color: $text_color_3;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: #404040;
        text-align: center;
      }

      .confirm-btn {
        display: flex;
        flex-direction: column;
        height: 3rem;
        min-height: 3rem;
        width: 130px;
        flex-shrink: 0;
        cursor: pointer;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border-bottom: 2px solid #1896D1;
        background-color: $bg_4;
        // padding-left: 1rem;
        // padding-right: 1rem;
        text-align: center;
        font-size: 14px;
        color: $text_color_2;
        font-weight: 500;
        box-shadow: 0px 1px 0px 0px #D4D6DD;

        span {
          display: inline-flex;
          font-size: 11px;
          font-weight: 500;
          color: #fff;
        }
      }

      .rewards-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        
        .rewards {
          margin: 0 8px;
          padding: 10px;
          background-color: #F0F8FF;
          position: relative;

          span {
            position: absolute;
            bottom: 3px;
            right: 3px;
            font-weight: 500;
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .quest-tabs {  
    .daily {
      top: 10px;
      left: 70px;
    }
  
    .achivement {
      top: 10px;
      left: 193px;
    }
  
    .invites {
      top: 10px;
      right: 110px;
    }
  
    .featuring {
      top: 10px;
      right: 5px;
    }
  }
}

@media (max-width: 410px) {
  .quest-tabs {  
    .daily {
      top: 10px;
      left: 65px;
    }
  
    .achivement {
      top: 10px;
      left: 185px;
    }
  
    .invites {
      top: 10px;
      right: 100px;
    }
  
    .featuring {
      top: 10px;
      right: 5px;
    }
  }
}

@media (max-width: 390px) {
  .quest-tabs {  
    .daily {
      top: 10px;
      left: 60px;
    }
  
    .achivement {
      top: 10px;
      left: 170px;
    }
  
    .invites {
      top: 10px;
      right: 105px;
    }
  
    .featuring {
      top: 10px;
      right: 5px;
    }
  }
}

@media (max-width: 370px) {
  .quest-tabs {
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(30px, 90px));
  
    input[type='radio'] {
      padding-inline-start: 4px;
      padding-inline-end: 4px;
    }
  
    .daily {
      top: 10px;
      left: 60px;
    }
  
    .achivement {
      top: 10px;
      left: 170px;
    }
  
    .invites {
      top: 10px;
      right: 80px;
    }
  
    .featuring {
      top: 10px;
      right: 2px;
    }
  }
}

@media (max-width: 350px) {
  .quest-tabs {  
    .daily {
      top: 10px;
      left: 55px;
    }
  
    .achivement {
      top: 10px;
      left: 155px;
    }
  
    .invites {
      top: 10px;
      right: 75px;
    }
  
    .featuring {
      top: 10px;
      right: 2px;
    }
  }
}
