/* Color Define ***********************************************************************************************************************************************/
$bg_1: #ffffff;
$bg_2: #fff08a;
$bg_3: #F8F9FE;
$bg_4: #1CB0F6;
$bg_5: #C1E1FD;


$bg_quest_item_title: #F1F8FF;
$bg_quest_title: linear-gradient(92.17deg, #0884BD 1.46%, #046B9A 95.55%);

$font_n: "Roboto-Regular";
$font_m: "Roboto-Medium";
$font_b: "Roboto-Bold";

$shadow_color_chest_btn_1: #E5E5E5;
$shadow_color_chest_btn_2: #EDC259;
$shadow_color_chest_btn_3: #8ECAFF;

$border_color_chest_btn_next_1: #E5E5E5;

$border_color_claim_quests_1: #E5E5E5;

$border_color_quest_item_1: #D9D9D9;

$text_color_1: #404040;
$text_color_2: #ffffff;
$text_color_3: #404040;
$text_color_4: #000000;
$text_color_5: #AF1B22;
